@mixin phone {
    @media screen and (max-width: 425px) {
        @content;
    }

    /* iPhone 6/7/8 */
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
        @content;
    }
    
    /* iPhone 6/7/8 Plus */
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
        @content;
    }
    
    /* iPhone X/XS/11 Pro */
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        @content;
    }
    
    /* iPhone XR/XS Max/11/11 Pro Max */
    @media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }

    /* iPhone 6/7/8 */
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
        @content;
    }
    
    /* iPhone 6/7/8 Plus */
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
        @content;
    }
    
    /* iPhone X/XS/11 Pro */
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        @content;
    }
    
    /* iPhone XR/XS Max/11/11 Pro Max */
    @media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin laptopL {
    @media screen and (max-width: 1440px) {
        @content;
    }
}

@mixin font-manrope($weight: 400, $size: 24px) {
    font-family: "Manrope", sans-serif;
    font-weight: $weight;
    font-size: $size;
}

@mixin font-inter($weight: 700) {
    font-family: "Inter", sans-serif;
    font-weight: $weight;
}

$color-background: rgb(249, 249, 249);
$color-white: rgb(255, 255, 255);
$color-black: rgba(26, 26, 26, 1);
$color-gray: rgba(56, 56, 56, 1);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-black;

    a{
        color: $color-black;
    }
}

h2{
    @include font-inter(700);
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 24px;
    text-transform: uppercase;

    @include phone{
        font-size: 28px;
    }
}

body{
    background-color: rgba(249, 249, 249, 1);
    max-width: 100vw;
    overflow-x: hidden;
}

.wrapper{
    max-width: 1178.64px;
    margin: auto;
}

main{
    @include laptop{
        padding: 0px 16px;
    }
}


.header{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 0px 0px 0px;

    @include laptop{
        padding: 8px 16px;
    }

    &__logo{
        padding-top: 24px;
    }

    &__menu{
        display: flex;
        gap: 34px;
        justify-content: space-between;

        @include tablet{
            display: none;
        }

        &-item{
            @include font-manrope(400, 16px);
            color: $color-black;
            text-decoration: none;
        }
    }

    &__btns{
        display: flex;
        gap: 18px;

        @include phone{
            display: none;
        }

        &-btn{
            @include font-inter(600);
            font-size: 13.71px;
            background: none;
            border: none;
            color: $color-gray;

            &--style{
                background: linear-gradient(90deg, #AA80F8 0%, #859CF8 100%);
                border-radius: 15px;       
                padding: 12px 24px;
                color: $color-white;    
            }

            &:hover{
                cursor: pointer;
            }
        }
    }

    &__open{
        display: none;

        @include phone{
            display: block;
        }

        img{
            height: 32px;
            width: 32px;
        }
    }

    &__close{
        position: absolute;
        right: 16px;
        top: 16px;

        img{
            width: 32px;
            height: 32px;
        }
    }

    &--mobile{
        position: absolute;
        top: 0;
        left: 100%;

        transition: .4s ease;

        z-index: 5;
        background-color: $color-white;
        height: 100svh;
        width: 100svw;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &-show{
            left: 0;
        }

        .header__menu{
            gap: 16px;

            a{
                text-align: center;
            }

            @include phone{
                display: flex;
                flex-direction: column;
            }

            margin-bottom: 34px;
        }

        .header__btns{
            display: flex;
            flex-direction: column;
        }
    }
}

.space{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 30px;
    background-color: $color-white;
    border-radius: 35px;
    margin-bottom: 41px;

    @include tablet{
        display: flex;
        flex-direction: column;
    }

    &__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 34px;

        &-title{
            @include font-inter();
            font-size: 40px;
            line-height: 60px;
            text-transform: uppercase;

            &--span{
                background: linear-gradient(90deg, #A980F8 0%, #859BF8 100%);
                color: $color-white;
                border-radius: 15px;
                padding: 0px 2px;
            }
        }

        &-text{
            @include font-manrope(400, 16);
            line-height: 24px;
        }

        &-btn{
            background: rgba(134, 155, 248, 1);
            border-radius: 15px;
            border: none;
            padding: 10px 12px;
            color: $color-white;
            width: fit-content;
            @include font-inter(600);
            font-size: 16px;
        }
    }

    &__right{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr auto;
        gap: 12px;
        grid-auto-flow: row;
        grid-template-areas:
            "space__right-main space__right-main"
            "space__right-main space__right-main"
            "space__right-small--1 space__right-small--2";

        @include phone{
            display: flex;
            flex-direction: column;
        }
        
        &-main {
            position: relative;
            grid-area: space__right-main;
            border-radius: 30px;

            &-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 30px;
            }

            &-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

                color: $color-white;
                background: rgba(134, 155, 248, 1);
                border: none;
                border-radius: 30px;
                padding: 14px 24px;

                @include font-inter(600);
                font-size: 13.71px;
                line-height: 16.59px;

                &--wrapper{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 12px 0 0 12px;
                    background-color: $color-white;
                    border-radius: 30px 0 0 0;
                }
            }

            &-corner{
                position: absolute;
                width: 30px;

                &--left{
                    left: -30px;
                    bottom: 0;
                }

                &--right{
                    top: -30px;
                    right: 0;
                }
            }
        }
        
        &-small{
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 30px;
            padding: 20px 8px 40px 8px;
        }

        &-small--1 { 
            grid-area: space__right-small--1;
            background: rgba(200, 211, 254, 1);

            .space__right-small{
                &-title{
                    @include font-inter(400);
                    font-size: 47.97px;
                    line-height: 71.95px;
                }

                &-text{
                    @include font-manrope(500, 15px);
                    line-height: 23.13px;
                }
            }
        }
        
        &-small--2 { 
            grid-area: space__right-small--2;
            background-image: url(./assets/card-background-purple.jpg);
            background-repeat: no-repeat;
            background-size: cover;

            .space__right-small{
                &-title{
                    display: flex;
                    gap: 6px;
                    margin-bottom: 6px;
                }

                &-text{
                    @include font-inter(500);
                    font-size: 20px;
                    line-height: 29.2px;
                    color: $color-white;
                }
            }
        }
    }
}

.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin-bottom: 72px;

    &-slider{
        width: 100%;
        overflow: hidden;
    }

    &-line{
        width: fit-content;
        display: flex;
        gap: 24px;
    }

    &-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-line--transition{
        transition: all 1s ease;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.panel{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    gap: 20px 70px;
    margin-bottom: 46px;

    @include tablet{
        grid-template-rows: repeat(4, 1fr);
    }

    &__block{
        position: relative;
        padding: 25px;
        border-radius: 15px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;

        @include phone{
            padding-right: 20%;
        }

        &-text{
            @include font-manrope(400, 16px);
            line-height: 24px;
        }

        &-list{
            padding-left: 20px;
            max-width: 330px;

            &-item{
                @include font-manrope(400, 14px);
                line-height: 21px;
            }
        }

        &-corner{
            position: absolute;
            width: 30%;
            height: 60px;
            background-color: $color-background;

            @include phone{
                width: 20%;
            }

            &--top{
                top: 0;
                right: 0;
                border-radius: 0 0 0 30px;
            }

            &--bottom{
                bottom: 0;
                right: 0;
                border-radius: 30px 0 0 0;
            }

            &-img{
                position: absolute;
                width: 30px;

                &--left{
                    left: -30px;
                }

                &--right{
                    right: 0;
                }
            }
        }

        .panel__block-corner--bottom .panel__block-corner-img--left{
            bottom: 0;
        }
        .panel__block-corner--bottom .panel__block-corner-img--right{
            top: -30px;
        }

        .panel__block-corner--top .panel__block-corner-img--left{
            top: 0;
            rotate: -90deg;
        }
        .panel__block-corner--top .panel__block-corner-img--right{
            bottom: -30px;
            rotate: -90deg;
        }

        &--1{
            padding: 0 0 0 25px;
        }

        &--2{
            background-image: url(./assets/panel-block-1.jpg)
        }

        &--3{
            background-image: url(./assets/panel-block-2.jpg)
        }

        &--4{
            background-image: url(./assets/panel-block-3.jpg)
        }
    }

    .panel__block--2 .panel__block-title, .panel__block--3 .panel__block-title{
        @include font-inter(600);
        font-size: 32px;
        line-height: 29.76px;
        margin-bottom: 14px;
    }
}

.adaptability{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding: 50px 15px;
    background-color: $color-white;
    border-radius: 20.58px;
    margin-bottom: 40px;

    @include tablet{
        display: flex;
        flex-direction: column;
    }

    &__img{
        @include phone{
            width: 100%;
        }
    }

    &__content{
        &-text{
            @include font-manrope(400, 16px);
            line-height: 24px;
            text-align: left;
        }
    }
}

.functionality{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    &__text{
        @include font-manrope(400, 16px);
        line-height: 24px;
        text-align: center;
        max-width: 410px;
        margin-bottom: 50px;
    }

    &__items{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr;
        gap: 27px 20px;

        @include phone{
            display: flex;
            flex-direction: column;
        }

        &-item{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(133, 154, 248, 1);
            border-radius: 20px;
            padding: 15px;

            &-text{
                @include font-manrope(400, 16px);
                line-height: 24px;
                text-align: center;
            }
        }
    }
}

.learn{
    padding: 90px 0;
    margin-bottom: 48px;

    &__block{
        height: 223px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding: 0px 200px;

        @include tablet{
            padding: 0px 36px;
        }

        @include phone{
            display: flex;
        }

        &-background{
            position: absolute;
            width: 100%;
            height: 100%;
            
        }

        &-img{
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            width: 100%;

            &-container{
                width: 100%;
                position: relative;

                @include phone{
                    display: none;
                }
            }
        }

        &-content{
            position: relative;
            z-index: 1;

            &-text{
                @include font-inter(700);
                font-size: 24px;
                line-height: 36px;
                color: $color-white;
                text-transform: uppercase;

                @include phone{
                    font-size: 18px;
                }
            }
    
            &-btn{
                display: flex;
                align-items: center;
                justify-content: center;
    
                @include font-inter(500);
                font-size: 13.71px;
                line-height: 16.59px;
                color: $color-white;
    
                background-color: rgba(0, 0, 0, 0);
                border: none;
            }
        }
    }
}

.advantages{
    display: flex;
    flex-direction: column;
    gap: 76px;
    margin-bottom: 58px;

    &__block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 58px;

        @include tablet{
            grid-template-columns: 1fr;
        }

        &-content{
            display: flex;
            justify-content: center;
            flex-direction: column;

            @include font-manrope(400, 16px);
            line-height: 24px;

            &-list{
                padding-left: 20px;
            }
        }

        &-image{
            position: relative;

            &-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 18px;
            }

            &-corner{
                display: flex;
                align-items: center;

                height: 120px;
                width: 210px;

                border-radius: 0 18px 0 0;

                position: absolute;
                bottom: 0;
                left: 0;

                background-color: $color-background;

                &-btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2px;

                    background: linear-gradient(270deg, #A980F8 0%, #869AF8 100%);
                    border: none;
                    border-radius: 15px;
                    padding: 12px 8px;

                    color: $color-white;
                    @include font-inter(600);
                    font-size: 13.71px;
                    line-height: 16.59px;
                }

                &-img{
                    position: absolute;
                    height: 18px;

                    &--left{
                        left: 0;
                        top: -18px;
                        rotate: 90deg;
                    }

                    &--right{
                        right: -18px;
                        bottom: 0;
                        rotate: 90deg;
                    }
                }
            }
        }

        &--revert{
            .advantages__block-image-corner{
                right: 0;
                left: auto;
                border-radius: 15px 0 0 0;
                justify-content: end;

                &-img{
                    rotate: 0deg;

                    &--left{
                        top: auto;
                        bottom: 0;
                        left: -18px;
                    }

                    &--right{
                        bottom: auto;
                        top: -18px;
                        right: 0;
                    }
                }
            }
        }
    }

    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;

        @include phone{
            display: flex;
            flex-direction: column;
        }

        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 9px;

            &-title{
                @include font-manrope(700, 16);
                line-height: 24px;
                text-transform: uppercase;
                text-align: center;
            }

            &-text{
                @include font-manrope(400, 14);
                line-height: 21px;
                text-align: center;
            }
        }
    }
}

.antifraud{
    display: flex;
    flex-direction: column;
    gap: 47px;
    background-color: $color-white;
    padding: 23px;
    border-radius: 20px;
    margin-bottom: 42px;

    &__title{
        text-align: center;
    }

    &__items{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: column;
        gap: 41px 29px;

        @include laptop{
            grid-template-rows: auto auto auto;
            grid-template-columns: 1fr 1fr;
        }

        @include phone{
            display: flex;
            flex-direction: column;
        }

        &-item{
            background-color: $color-background;
            border-radius: 15px;
            padding: 25px 16px;

            &-title{
                @include font-manrope(700, 18px);
                line-height: 27px;
                margin-bottom: 16px;
                text-transform: uppercase;
            }

            &-text{
                @include font-manrope(400, 15px);
                line-height: 22.5px;
            }

            &-btn{
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 5px;

                @include font-inter(500);
                font-size: 13.71px;
                line-height: 16.59px;

                background-color: rgba(0, 0, 0, 0);
                border: none;

                @include phone{
                    justify-content: start;
                }
            }

            &--last{
                display: flex;
                flex-direction: column;
                justify-content: center;

                padding: 0 40px 40px 60px;
                
                position: relative;
                background: linear-gradient(180deg, #A881F8 0%, #869BF8 100%);

                *{color: $color-white;}

                @include phone{
                    padding: 24px;
                }

                .antifraud__items-item{
                    &-title{
                        @include font-manrope(800, 24px);
                        line-height: 28.8px;
                    }

                    &-text{
                        margin-bottom: 38px;
                    }

                    &-corner{
                        position: absolute;
                        bottom: 0;
                        right: 0;

                        width: 100px;
                        height: 100px;
                        background-color: $color-white;
                        border-radius: 45px 0 0 0;

                        @include phone{
                            width: 75px;
                            height: 75px;
                        }

                        &-img{
                            position: absolute;
                            width: 45px;

                            @include phone{
                                width: 20px;
                            }

                            &--left{
                                bottom: 0;
                                left: -45px;

                                @include phone{
                                    left: -20px;
                                }
                            }

                            &--right{
                                top: -45px;
                                right: 0;

                                @include phone{
                                    top: -20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.cases{
    margin-bottom: 26px;

    &__title{
        text-align: center;
    }

    &__block{
        padding: 32px 14px;
        background-color: $color-white;
        border-radius: 20px;

        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;

        @include tablet{
            display: flex;
            flex-direction: column;
        }

        &-menu{
            display: grid;
            grid-template-columns: 1fr;
            gap: 8px;

            @include tablet{
                display: flex;
            }

            @include phone{
                display: none;
            }

            &-item{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;

                padding: 16px;
                background-color: $color-background;

                @include font-manrope(400, 16px);
                line-height: 24px;
                text-align: center;

                &--active{
                    background: linear-gradient(90deg, #A881F8 0%, #869BF8 100%);
                    color: $color-white;
                }
            }
        }

        &-content{
            display: flex;
            flex-direction: column;

            background-color: $color-background;
            padding-top: 26px;

            &-title{
                width: 100%;
                display: inline-block;
                @include font-manrope(600, 16px);
                line-height: 19.2px;
                text-align: center;
            }

            &-list{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                flex-grow: 1;
                gap: 17px 34px;
                padding: 36px 27px;
                grid-auto-flow: row;
                grid-template-areas:
                    "cases__block-content-list-item--metc cases__block-content-list-item--peri"
                    "cases__block-content-list-item--geog cases__block-content-list-item--purp"
                    "cases__block-content-list-item--audi cases__block-content-list-item--purp"
                    "cases__block-content-list-item--sele cases__block-content-list-item--purp";

                @include phone{
                    display: flex;
                    flex-direction: column;
                }

                &-item{
                    @include font-manrope(400, 14px);
                    line-height: 21px;

                    span{
                        @include font-manrope(600, 16px);
                    }

                    &--metc { grid-area: cases__block-content-list-item--metc; }
                    &--geog { grid-area: cases__block-content-list-item--geog; }
                    &--audi { grid-area: cases__block-content-list-item--audi; }
                    &--sele { grid-area: cases__block-content-list-item--sele; }
                    &--peri { grid-area: cases__block-content-list-item--peri; }
                    &--purp { grid-area: cases__block-content-list-item--purp; }
                }
            }
        }
    }
}

.download{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    background: linear-gradient(90deg, #A682F8 0%, #879AF8 100%);
    padding: 26px;
    border-radius: 15px;

    margin-bottom: 68px;

    *{color: $color-white}

    @include phone{
        flex-direction: column;
    }

    &__img{
        @include phone{
            display: none;
        }
    }

    &__text{
        @include font-manrope(700, 20px);
        line-height: 30px;
        text-align: center;
        max-width: 521px;
        text-transform: uppercase;
    }

    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;

        @include font-manrope(700, 16px);
        line-height: 19.36px;

        background-color: rgba(0, 0, 0, 0);
        border: 1px solid $color-white;
        border-radius: 15px;
        padding: 10px 50px;
    }
}

.requirement{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1.5fr 1.5fr;
    gap: 20px;
    margin-bottom: 40px;

    @include tablet{
        display: flex;
        flex-direction: column;
    }

    &__title{
        font-size: 32px;
        line-height: 48px;
    }

    &__block{
        padding: 25px 16px;
        border-radius: 15px;
        background-color: $color-white;

        &-title{
            @include font-manrope(700, 18px);
            line-height: 27px;
            text-transform: uppercase;
            margin-bottom: 11px;
        }

        &-list{
            padding-left: 20px;

            @include font-manrope(400, 14px);
            line-height: 21px;
        }
    }
}

.standards{
    background-color: $color-white;
    border-radius: 20px;
    padding: 46px 18px;
    margin-bottom: 40px;

    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 18px;

        @include tablet{
            display: flex;
            flex-direction: column;
        }

        &-item{
            background-color: $color-background;
            border-radius: 15px;
            padding: 8px 12px;

            display: flex;
            gap: 10px;

            &-counter{
                color: rgba(135, 153, 248, 0.5);
                @include font-manrope(800, 40px);
                line-height: 60px;
                text-transform: uppercase;
            }

            &-content{
                padding: 17px 0;

                &-title{
                    @include font-manrope(600, 16px);
                    line-height: 24px;
                    text-transform: uppercase;
                    margin-bottom: 19px;
                }

                &-text{
                    @include font-manrope(400, 14px);
                    line-height: 21px;
                }
            }
        }
    }
}

.flexibility{
    position: relative;
    display: flex;
    gap: 100px;

    padding: 56px 56px 0px 56px;
    background: linear-gradient(180deg, #A483F8 0%, #8898F8 100%);
    border-radius: 40px;

    margin-bottom: 88px;

    *{color: $color-white;}

    @include tablet{
        padding: 36px;
    }

    @include phone{
        padding: 36px 36px 100px 36px;
    }

    &__img{
        @include tablet{
            display: none;
        }
    }

    &__content{
        &-title{
            margin-bottom: 26px;
        }

        &-text, &-list{
            @include font-manrope(400, 14px);
            line-height: 21px;
            max-width: 400px;
        }

        &-list{
            padding-left: 20px;
        }
    }

    &__corner{
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 0;
        right: 0;

        height: 80px;
        width: 260px;

        background-color: $color-background;
        border-radius: 40px 0 0 0;

        &-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;

            padding: 12px 17px;
            background: linear-gradient(270deg, #A980F8 0%, #869AF8 100%);
            border-radius: 15px;
            border: none;

            @include font-inter(600);
            font-size: 16px;
            line-height: 19.36px;
        }

        &-img{
            position: absolute;
            width: 40px;

            &--left{
                left: -40px;
                bottom: 0;
            }

            &--right{
                right: 0;
                top: -40px;
            }
        }
    }
}

.consultation{
    margin-bottom: 100px;

    &__title{
        text-align: center;
        margin-bottom: 20px;
    }

    &__text{
        @include font-manrope(400, 16px);
        line-height: 24px;
        text-align: center;
        max-width: 512px;
        margin: 0 auto;
    }

    &__inputs{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 44px;
        padding: 46px 0px 26px 0;

        @include tablet{
            display: flex;
            flex-direction: column;
        }

        &-field{
            &-floating{
                display: flex;
                align-items: end;

                position: relative;

                .consultation__inputs-field{
                    &__input{
                        height: 40px;
                        line-height: 1.25;
                        padding: 10px 0;

                        &::-moz-placeholder {
                            color: transparent;
                        }

                        &::placeholder {
                            color: transparent;
                        }

                        &:focus, &:not(:placeholder-shown) {
                            padding: 10px 0;
                        }

                        &:focus~.consultation__inputs-field__label,
                        &:not(:placeholder-shown)~.consultation__inputs-field__label {
                            opacity: .65;
                            transform: scale(.85) translateY(-25px);
                        }
                    }

                    &__label{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 50%;
                        pointer-events: none;
                        border: 2px solid transparent;
                        transform-origin: 0 0;
                        transition: opacity .15s ease-in-out, transform .15s ease-in-out;
                    }
                }
            }

            &__label{
                display: block;
                margin-bottom: 0.25rem;
            
                @include font-manrope(400, 14px);
                line-height: 24px;
            
            }

            &__input{
                display: block;
                width: 100%;
                height: calc(2.25rem + 2px);
                padding: 10px 0;
                @include font-manrope(400, 14px);
                line-height: 24px;
                color: $color-black;
                background-color: #ffffff00;
                background-clip: padding-box;
                border: none;
                border-bottom: 2px solid $color-black;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    -webkit-appearance: none;
                }

                &::placeholder {
                    color: #212529;
                    opacity: 0.4;
                }

                &:focus {
                    outline: 0;
                    border-bottom: 2px solid rgba(106, 103, 248, 1);
                }

                &:disabled, &[readonly] {
                    background-color: #f5f5f5;
                    opacity: 1;
                }
            }
        }

        &-btn{
            padding: 22px 40px;
            background: linear-gradient(90deg, #A284F8 0%, #8E93F8 100%);

            @include font-manrope(400, 17px);
            line-height: 15px;
            color: $color-white;

            border: none;
            border-radius: 15px;
        }
    }

    &__check{
        display: flex;
        align-items: center;
        gap: 10px;

        @include font-manrope(400, 12px);
        line-height: 16.39px;
    }
}

.footer{
    background: linear-gradient(90deg, #A284F8 0%, #8E93F8 100%);
    padding: 46px 0;

    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        @include laptop{
            padding: 0px 16px;
        }

        @include tablet{
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    }

    &__menu{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr;
        gap: 5px 50px;

        @include phone{
            display: flex;
            flex-direction: column;
        }

        &-link{
            @include font-manrope(400, 16px);
            line-height: 24px;
            color: $color-white;
            text-decoration: none;
        }
    }

    &__tell{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        
        @include font-manrope(700, 20px);
        line-height: 30px;
        color: $color-white;
        text-decoration: none;
    }
}