* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(26, 26, 26);
}
* a {
  color: rgb(26, 26, 26);
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 22px;
    line-height: 35px;
  }
}

html {
  overflow-x: hidden;
}

body {
  background-color: rgb(249, 249, 249);
  max-width: 100svw;
  width: 100%;
  overflow-x: hidden;
}

.slider-line--transition {
  transition: 0.4s ease;
}

.wrapper {
  max-width: 1178.64px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 0px 16px;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px 0px 0px;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 8px 16px;
  }
}
.header__logo {
  padding-top: 24px;
}
.header__menu {
  display: flex;
  gap: 34px;
  justify-content: space-between;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .header__menu {
    display: none;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .header__menu {
    display: none;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .header__menu {
    display: none;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(26, 26, 26);
  text-decoration: none;
}
.header__btns {
  display: flex;
  gap: 18px;
}
@media screen and (max-width: 425px) {
  .header__btns {
    display: none;
  }
}
.header__btns-btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 13.71px;
  background: none;
  border: none;
  color: rgb(56, 56, 56);
}
.header__btns-btn--style {
  background: linear-gradient(90deg, #AA80F8 0%, #859CF8 100%);
  border-radius: 15px;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
}
.header__btns-btn:hover {
  cursor: pointer;
}
.header__open {
  display: none;
}
@media screen and (max-width: 425px) {
  .header__open {
    display: block;
  }
}
.header__open img {
  height: 32px;
  width: 32px;
}
.header__close {
  position: absolute;
  right: 16px;
  top: 16px;
}
.header__close img {
  width: 32px;
  height: 32px;
}
.header--mobile {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: 0.4s ease;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  height: 100svh;
  width: 100svw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header--mobile-show {
  display: flex;
}
.header--mobile .header__menu {
  gap: 16px;
  margin-bottom: 34px;
}
.header--mobile .header__menu a {
  text-align: center;
}
@media screen and (max-width: 425px) {
  .header--mobile .header__menu {
    display: flex;
    flex-direction: column;
  }
}
.header--mobile .header__btns {
  display: flex;
  flex-direction: column;
}

.footer {
  background: linear-gradient(90deg, #A284F8 0%, #8E93F8 100%);
  padding: 46px 0;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 1024px) {
  .footer-container {
    padding: 0px 16px;
  }
}
@media screen and (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
.footer__menu {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  gap: 5px 50px;
}
@media screen and (max-width: 425px) {
  .footer__menu {
    display: flex;
    flex-direction: column;
  }
}
.footer__menu-link {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.footer__tell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.space {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  margin-bottom: 41px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .space {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .space {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .space {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .space {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .space {
    display: flex;
    flex-direction: column;
  }
}
.space__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 34px;
}
.space__left-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
}
@media screen and (max-width: 425px) {
  .space__left-title {
    font-size: 28px;
    line-height: 40px;
  }
}
.space__left-title--span {
  background: linear-gradient(90deg, #A980F8 0%, #859BF8 100%);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 0px 2px;
}
@media screen and (max-width: 425px) {
  .space__left-title--span {
    padding: 2px;
  }
}
.space__left-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16;
  line-height: 24px;
}
.space__left-btn {
  background: rgb(134, 155, 248);
  border-radius: 15px;
  border: none;
  padding: 10px 12px;
  color: rgb(255, 255, 255);
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.space__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas: "space__right-main space__right-main" "space__right-main space__right-main" "space__right-small--1 space__right-small--2";
}
@media screen and (max-width: 425px) {
  .space__right {
    display: flex;
    flex-direction: column;
  }
}
.space__right-main {
  position: relative;
  grid-area: space__right-main;
  border-radius: 30px;
}
.space__right-main-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.space__right-main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: rgb(255, 255, 255);
  background: rgb(134, 155, 248);
  border: none;
  border-radius: 30px;
  padding: 14px 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 13.71px;
  line-height: 16.59px;
}
.space__right-main-btn--wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px 0 0 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px 0 0 0;
}
.space__right-main-corner {
  position: absolute;
  width: 30px;
}
.space__right-main-corner--left {
  left: -30px;
  bottom: 0;
}
.space__right-main-corner--right {
  top: -30px;
  right: 0;
}
.space__right-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  padding: 20px 8px 40px 8px;
}
.space__right-small--1 {
  grid-area: space__right-small--1;
  background: rgb(200, 211, 254);
}
.space__right-small--1 .space__right-small-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 47.97px;
  line-height: 71.95px;
}
.space__right-small--1 .space__right-small-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23.13px;
}
.space__right-small--2 {
  grid-area: space__right-small--2;
  background-image: url(./assets/card-background-purple.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.space__right-small--2 .space__right-small-title {
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
}
.space__right-small--2 .space__right-small-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 29.2px;
  color: rgb(255, 255, 255);
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-bottom: 72px;
}
.logos-slider {
  width: 100%;
  overflow: hidden;
}
.logos-line {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 24px;
}
.logos-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos .slider-line--transition {
  transition: all 1s ease;
}
.logos__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.panel {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  gap: 20px 70px;
  margin-bottom: 46px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .panel {
    grid-template-rows: repeat(4, 1fr);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .panel {
    grid-template-rows: repeat(4, 1fr);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .panel {
    grid-template-rows: repeat(4, 1fr);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .panel {
    grid-template-rows: repeat(4, 1fr);
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .panel {
    grid-template-rows: repeat(4, 1fr);
  }
}
.panel__block {
  position: relative;
  padding: 25px;
  border-radius: 15px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 425px) {
  .panel__block {
    padding-right: 20%;
  }
}
.panel__block-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.panel__block-list {
  padding-left: 20px;
  max-width: 330px;
}
.panel__block-list-item {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.panel__block-corner {
  position: absolute;
  width: 30%;
  height: 60px;
  background-color: rgb(249, 249, 249);
}
@media screen and (max-width: 425px) {
  .panel__block-corner {
    display: none;
  }
}
.panel__block-corner--top {
  top: 0;
  right: 0;
  border-radius: 0 0 0 30px;
}
.panel__block-corner--bottom {
  bottom: 0;
  right: 0;
  border-radius: 30px 0 0 0;
}
.panel__block-corner-img {
  position: absolute;
  width: 30px;
}
.panel__block-corner-img--left {
  left: -30px;
}
.panel__block-corner-img--right {
  right: 0;
}
.panel__block .panel__block-corner--bottom .panel__block-corner-img--left {
  bottom: 0;
}
.panel__block .panel__block-corner--bottom .panel__block-corner-img--right {
  top: -30px;
}
.panel__block .panel__block-corner--top .panel__block-corner-img--left {
  top: 0;
  rotate: -90deg;
}
.panel__block .panel__block-corner--top .panel__block-corner-img--right {
  bottom: -30px;
  rotate: -90deg;
}
.panel__block--1 {
  padding: 0 0 0 25px;
}
.panel__block--2 {
  background-image: url(./assets/panel-block-1.jpg);
}
.panel__block--3 {
  background-image: url(./assets/panel-block-2.jpg);
}
.panel__block--4 {
  background-image: url(./assets/panel-block-3.jpg);
}
.panel .panel__block--2 .panel__block-title, .panel .panel__block--3 .panel__block-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 29.76px;
  margin-bottom: 14px;
}

.adaptability {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  padding: 50px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 20.58px;
  margin-bottom: 40px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .adaptability {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .adaptability {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .adaptability {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .adaptability {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .adaptability {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .adaptability__img {
    width: 100%;
  }
}
.adaptability__content-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.functionality {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.functionality__text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 410px;
  margin-bottom: 50px;
}
.functionality__items {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  gap: 27px 20px;
}
@media screen and (max-width: 425px) {
  .functionality__items {
    display: flex;
    flex-direction: column;
  }
}
.functionality__items-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(133, 154, 248);
  border-radius: 20px;
  padding: 15px;
}
.functionality__items-item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.learn {
  padding: 90px 0;
  margin-bottom: 48px;
}
@media screen and (max-width: 425px) {
  .learn {
    padding: 20px 0px;
  }
}
.learn__block {
  height: 223px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 0px 200px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .learn__block {
    padding: 0px 36px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .learn__block {
    padding: 0px 36px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .learn__block {
    padding: 0px 36px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .learn__block {
    padding: 0px 36px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .learn__block {
    padding: 0px 36px;
  }
}
@media screen and (max-width: 425px) {
  .learn__block {
    display: flex;
  }
}
.learn__block-background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.learn__block-img {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 100%;
}
.learn__block-img-container {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 425px) {
  .learn__block-img-container {
    display: none;
  }
}
.learn__block-content {
  position: relative;
  z-index: 1;
}
.learn__block-content-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 425px) {
  .learn__block-content-text {
    font-size: 18px;
  }
}
.learn__block-content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13.71px;
  line-height: 16.59px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.learn__block-content-btn:hover {
  cursor: pointer;
}

.advantages {
  display: flex;
  flex-direction: column;
  gap: 76px;
  margin-bottom: 58px;
}
.advantages--gap-3 .advantages__items {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
}
.advantages__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 58px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .advantages__block {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .advantages__block {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .advantages__block {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .advantages__block {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .advantages__block {
    grid-template-columns: 1fr;
  }
}
.advantages__block-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.advantages__block-content-list {
  padding-left: 20px;
}
.advantages__block-image {
  position: relative;
}
.advantages__block-image-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
}
.advantages__block-image-corner {
  display: flex;
  align-items: center;
  height: 120px;
  width: 210px;
  border-radius: 0 18px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(249, 249, 249);
}
.advantages__block-image-corner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background: linear-gradient(270deg, #A980F8 0%, #869AF8 100%);
  border: none;
  border-radius: 15px;
  padding: 12px 8px;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 13.71px;
  line-height: 16.59px;
}
.advantages__block-image-corner-img {
  position: absolute;
  height: 18px;
}
.advantages__block-image-corner-img--left {
  left: 0;
  top: -18px;
  rotate: 90deg;
}
.advantages__block-image-corner-img--right {
  right: -18px;
  bottom: 0;
  rotate: 90deg;
}
.advantages__block--revert .advantages__block-image-corner {
  right: 0;
  left: auto;
  border-radius: 15px 0 0 0;
  justify-content: end;
}
.advantages__block--revert .advantages__block-image-corner-img {
  rotate: 0deg;
}
.advantages__block--revert .advantages__block-image-corner-img--left {
  top: auto;
  bottom: 0;
  left: -18px;
}
.advantages__block--revert .advantages__block-image-corner-img--right {
  bottom: auto;
  top: -18px;
  right: 0;
}
.advantages__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 425px) {
  .advantages__items {
    display: flex;
    flex-direction: column;
  }
}
.advantages__items-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.advantages__items-item-title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.advantages__items-item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14;
  line-height: 21px;
  text-align: center;
}

.antifraud {
  display: flex;
  flex-direction: column;
  gap: 47px;
  background-color: rgb(255, 255, 255);
  padding: 23px;
  border-radius: 20px;
  margin-bottom: 42px;
}
.antifraud__title {
  text-align: center;
}
.antifraud__items {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 41px 29px;
}
@media screen and (max-width: 1024px) {
  .antifraud__items {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 425px) {
  .antifraud__items {
    display: flex;
    flex-direction: column;
  }
}
.antifraud__items-item {
  background-color: rgb(249, 249, 249);
  border-radius: 15px;
  padding: 25px 16px;
}
.antifraud__items-item-title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.antifraud__items-item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
}
.antifraud__items-item-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13.71px;
  line-height: 16.59px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
@media screen and (max-width: 425px) {
  .antifraud__items-item-btn {
    justify-content: start;
  }
}
.antifraud__items-item-btn:hover {
  cursor: pointer;
}
.antifraud__items-item--last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 80px 60px;
  position: relative;
  background: linear-gradient(180deg, #A881F8 0%, #869BF8 100%);
}
.antifraud__items-item--last * {
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 425px) {
  .antifraud__items-item--last {
    padding: 24px;
  }
}
.antifraud__items-item--last .antifraud__items-item-title {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 28.8px;
}
.antifraud__items-item--last .antifraud__items-item-text {
  margin-bottom: 38px;
}
.antifraud__items-item--last .antifraud__items-item-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 45px 0 0 0;
}
@media screen and (max-width: 425px) {
  .antifraud__items-item--last .antifraud__items-item-corner {
    display: none;
  }
}
.antifraud__items-item--last .antifraud__items-item-corner-img {
  position: absolute;
  width: 45px;
}
@media screen and (max-width: 425px) {
  .antifraud__items-item--last .antifraud__items-item-corner-img {
    width: 20px;
  }
}
.antifraud__items-item--last .antifraud__items-item-corner-img--left {
  bottom: 0;
  left: -45px;
}
@media screen and (max-width: 425px) {
  .antifraud__items-item--last .antifraud__items-item-corner-img--left {
    left: -20px;
  }
}
.antifraud__items-item--last .antifraud__items-item-corner-img--right {
  top: -45px;
  right: 0;
}
@media screen and (max-width: 425px) {
  .antifraud__items-item--last .antifraud__items-item-corner-img--right {
    top: -20px;
  }
}

.cases {
  margin-bottom: 26px;
  overflow: hidden;
}
.cases-line {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 20px;
}
.cases__title {
  text-align: center;
}
.cases__block {
  padding: 32px 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .cases__block {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .cases__block {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .cases__block {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .cases__block {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .cases__block {
    display: flex;
    flex-direction: column;
  }
}
.cases__block-menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .cases__block-menu {
    display: flex;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .cases__block-menu {
    display: flex;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .cases__block-menu {
    display: flex;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .cases__block-menu {
    display: flex;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .cases__block-menu {
    display: flex;
  }
}
@media screen and (max-width: 425px) {
  .cases__block-menu {
    display: none;
  }
}
.cases__block-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 16px;
  background-color: rgb(249, 249, 249);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.cases__block-menu-item--active {
  background: linear-gradient(90deg, #A881F8 0%, #869BF8 100%);
  color: rgb(255, 255, 255);
}
.cases__block-menu-item:hover {
  cursor: pointer;
}
.cases__block-content {
  display: none;
  flex-direction: column;
  background-color: rgb(249, 249, 249);
  padding-top: 26px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .cases__block-content {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .cases__block-content {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .cases__block-content {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .cases__block-content {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .cases__block-content {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
  }
}
.cases__block-content--active {
  display: flex;
}
.cases__block-content-title {
  width: 100%;
  display: inline-block;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
}
.cases__block-content-img {
  width: 100%;
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cases__block-content-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  flex-grow: 1;
  gap: 17px 34px;
  padding: 36px 27px;
  grid-auto-flow: row;
  grid-template-areas: "cases__block-content-list-item--metc cases__block-content-list-item--peri" "cases__block-content-list-item--geog cases__block-content-list-item--purp" "cases__block-content-list-item--audi cases__block-content-list-item--purp" "cases__block-content-list-item--sele cases__block-content-list-item--purp";
}
@media screen and (max-width: 425px) {
  .cases__block-content-list {
    display: flex;
    flex-direction: column;
  }
}
.cases__block-content-list-item {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.cases__block-content-list-item span {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.cases__block-content-list-item--metc {
  grid-area: cases__block-content-list-item--metc;
}
.cases__block-content-list-item--geog {
  grid-area: cases__block-content-list-item--geog;
}
.cases__block-content-list-item--audi {
  grid-area: cases__block-content-list-item--audi;
}
.cases__block-content-list-item--sele {
  grid-area: cases__block-content-list-item--sele;
}
.cases__block-content-list-item--peri {
  grid-area: cases__block-content-list-item--peri;
}
.cases__block-content-list-item--purp {
  grid-area: cases__block-content-list-item--purp;
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: linear-gradient(90deg, #A682F8 0%, #879AF8 100%);
  padding: 26px;
  border-radius: 15px;
  margin-bottom: 68px;
}
.download * {
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 425px) {
  .download {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .download__img {
    display: none;
  }
}
.download__text {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 521px;
  text-transform: uppercase;
}
.download__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px 50px;
}

.requirement {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1.5fr 1.5fr;
  gap: 20px;
  margin-bottom: 40px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .requirement {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .requirement {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .requirement {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .requirement {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .requirement {
    display: flex;
    flex-direction: column;
  }
}
.requirement__title {
  font-size: 32px;
  line-height: 48px;
}
.requirement__block {
  padding: 25px 16px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
.requirement__block-title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 11px;
}
.requirement__block-list {
  padding-left: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.standards {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 46px 18px;
  margin-bottom: 40px;
}
.standards__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .standards__items {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .standards__items {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .standards__items {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .standards__items {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .standards__items {
    display: flex;
    flex-direction: column;
  }
}
.standards__items-item {
  background-color: rgb(249, 249, 249);
  border-radius: 15px;
  padding: 8px 12px;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 425px) {
  .standards__items-item {
    display: block;
  }
}
.standards__items-item-counter {
  color: rgba(135, 153, 248, 0.5);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
}
.standards__items-item-content {
  padding: 17px 0;
}
.standards__items-item-content-title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.standards__items-item-content-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.flexibility {
  position: relative;
  display: flex;
  gap: 100px;
  padding: 56px 56px 0px 56px;
  background: linear-gradient(180deg, #A483F8 0%, #8898F8 100%);
  border-radius: 40px;
  margin-bottom: 88px;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
.flexibility * {
  color: rgb(255, 255, 255);
}
.flexibility--center {
  align-items: center;
  padding: 0 127px;
  height: 418px;
}
.flexibility--center .flexibility__img {
  height: 448px;
  position: relative;
  bottom: 15px;
}
@media screen and (max-width: 768px) {
  .flexibility {
    padding: 36px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .flexibility {
    padding: 36px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .flexibility {
    padding: 36px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .flexibility {
    padding: 36px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .flexibility {
    padding: 36px;
  }
}
@media screen and (max-width: 425px) {
  .flexibility {
    padding: 36px 36px 100px 36px;
  }
}
.flexibility__img {
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .flexibility__img {
    display: none;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .flexibility__img {
    display: none;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .flexibility__img {
    display: none;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .flexibility__img {
    display: none;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .flexibility__img {
    display: none;
  }
}
.flexibility__content-title {
  margin-bottom: 26px;
}
.flexibility__content-text, .flexibility__content-list {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 400px;
}
.flexibility__content-list {
  padding-left: 20px;
}
.flexibility__corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 260px;
  background-color: rgb(249, 249, 249);
  border-radius: 40px 0 0 0;
}
.flexibility__corner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 12px 17px;
  background: linear-gradient(270deg, #A980F8 0%, #869AF8 100%);
  border-radius: 15px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
}
.flexibility__corner-img {
  position: absolute;
  width: 40px;
}
.flexibility__corner-img--left {
  left: -40px;
  bottom: 0;
}
.flexibility__corner-img--right {
  right: 0;
  top: -40px;
}

.consultation {
  margin-bottom: 100px;
}
.consultation__title {
  text-align: center;
  margin-bottom: 20px;
}
.consultation__text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 512px;
  margin: 0 auto;
}
.consultation__inputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 44px;
  padding: 46px 0px 26px 0;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 Plus */
  /* iPhone X/XS/11 Pro */
  /* iPhone XR/XS Max/11/11 Pro Max */
}
@media screen and (max-width: 768px) {
  .consultation__inputs {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .consultation__inputs {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .consultation__inputs {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .consultation__inputs {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .consultation__inputs {
    display: flex;
    flex-direction: column;
  }
}
.consultation__inputs-field-floating {
  display: flex;
  align-items: end;
  position: relative;
}
.consultation__inputs-field-floating .consultation__inputs-field__input {
  height: 40px;
  line-height: 1.25;
  padding: 10px 0;
}
.consultation__inputs-field-floating .consultation__inputs-field__input::-moz-placeholder {
  color: transparent;
}
.consultation__inputs-field-floating .consultation__inputs-field__input::placeholder {
  color: transparent;
}
.consultation__inputs-field-floating .consultation__inputs-field__input:not(:-moz-placeholder-shown) {
  padding: 10px 0;
}
.consultation__inputs-field-floating .consultation__inputs-field__input:focus, .consultation__inputs-field-floating .consultation__inputs-field__input:not(:placeholder-shown) {
  padding: 10px 0;
}
.consultation__inputs-field-floating .consultation__inputs-field__input:not(:-moz-placeholder-shown) ~ .consultation__inputs-field__label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-25px);
}
.consultation__inputs-field-floating .consultation__inputs-field__input:focus ~ .consultation__inputs-field__label, .consultation__inputs-field-floating .consultation__inputs-field__input:not(:placeholder-shown) ~ .consultation__inputs-field__label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-25px);
}
.consultation__inputs-field-floating .consultation__inputs-field__label {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  pointer-events: none;
  border: 2px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}
.consultation__inputs-field__label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.consultation__inputs-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 10px 0;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(26, 26, 26);
  background-color: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  border: none;
  border-bottom: 2px solid rgb(26, 26, 26);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.consultation__inputs-field__input::-webkit-search-decoration, .consultation__inputs-field__input::-webkit-search-cancel-button, .consultation__inputs-field__input::-webkit-search-results-button, .consultation__inputs-field__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.consultation__inputs-field__input::-moz-placeholder {
  color: #212529;
  opacity: 0.4;
}
.consultation__inputs-field__input::placeholder {
  color: #212529;
  opacity: 0.4;
}
.consultation__inputs-field__input:focus {
  outline: 0;
  border-bottom: 2px solid rgb(106, 103, 248);
}
.consultation__inputs-field__input:disabled, .consultation__inputs-field__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}
.consultation__inputs-btn {
  padding: 22px 40px;
  background: linear-gradient(90deg, #A284F8 0%, #8E93F8 100%);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
}
.consultation__check {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.39px;
}

.first {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 90px;
}
@media screen and (max-width: 425px) {
  .first {
    flex-direction: column;
  }
}
.first__content-title {
  margin-bottom: 6px;
}
.first__content-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 352px;
}
.first__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 18px 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 18px;
  grid-auto-flow: row;
  grid-template-areas: "first__grid-item--1 first__grid-item--4" "first__grid-item--2 first__grid-item--4" "first__grid-item--3 first__grid-item--4";
}
@media screen and (max-width: 425px) {
  .first__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.first__grid-item {
  position: relative;
  padding: 30px;
  border-radius: 30px;
}
.first__grid-item * {
  color: rgb(255, 255, 255);
}
.first__grid-item--1 {
  grid-area: first__grid-item--1;
  background: linear-gradient(180deg, #A980F8 0%, #879AF8 100%);
  padding: 50px 25px 100px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 425px) {
  .first__grid-item--1 {
    padding: 50px 25px 50px 75px;
  }
}
.first__grid-item--1 .first__grid-item-title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 18px;
  margin-bottom: 20px;
}
.first__grid-item--1 .first__grid-item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
.first__grid-item--1 .first__grid-item-line {
  position: absolute;
  left: 30px;
  top: 35px;
  height: 100px;
  width: 2px;
  background-color: rgb(255, 250, 250);
}
.first__grid-item--2 {
  grid-area: first__grid-item--2;
  padding: 0;
  display: flex;
  align-items: center;
}
.first__grid-item--2 button {
  position: absolute;
  height: 100px;
  width: 100px;
  translate: -50% 0%;
  transition: 0.4s ease;
  background: rgb(85, 66, 246);
  border: 1px solid rgb(85, 66, 246);
  border-radius: 50px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 12px;
  z-index: 1;
}
@media screen and (max-width: 425px) {
  .first__grid-item--2 button {
    height: auto;
    width: 100%;
    position: relative;
    translate: 0%;
    border-radius: 20px;
    padding: 20px 20px;
  }
}
.first__grid-item--2 button:hover {
  background: rgb(249, 249, 249);
  color: rgb(85, 66, 246);
  cursor: pointer;
}
.first__grid-item--3 {
  grid-area: first__grid-item--3;
  background: linear-gradient(180deg, #A881F8 0%, #879AF8 100%);
  padding: 50px 30px 30px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.first__grid-item--4 {
  grid-area: first__grid-item--4;
  padding: 0;
}
.first__grid-item--4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.first__grid-item-corner {
  position: absolute;
  left: 0;
  height: 52px;
  width: 61px;
  background-color: rgb(249, 249, 249);
}
@media screen and (max-width: 425px) {
  .first__grid-item-corner {
    display: none;
  }
}
.first__grid-item-corner--top {
  top: 0;
  border-radius: 0 0 60px 0;
}
.first__grid-item-corner--bottom {
  bottom: 0;
  border-radius: 0 60px 0 0;
}
.first__grid-item-corner--bottom .first__grid-item-corner-img--left {
  top: -14px;
  rotate: 90deg;
}
.first__grid-item-corner--bottom .first__grid-item-corner-img--right {
  bottom: 0;
  rotate: 90deg;
}
.first__grid-item-corner-img {
  position: absolute;
  width: 15px;
}
.first__grid-item-corner-img--left {
  left: 0;
  bottom: -14px;
  rotate: -180deg;
}
.first__grid-item-corner-img--right {
  right: -14px;
  rotate: -180deg;
}

.why {
  background-color: rgb(255, 255, 255);
  padding: 40px 100px;
  border-radius: 20px;
  margin-bottom: 80px;
}
@media screen and (max-width: 425px) {
  .why {
    padding: 20px;
  }
}
.why__title {
  margin-bottom: 40px;
  text-align: center;
}
.why__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media screen and (max-width: 425px) {
  .why__items {
    display: flex;
    flex-direction: column;
  }
}
.why__items-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why__items-item-img {
  margin-bottom: 16px;
  height: 40px;
  width: 40px;
}
.why__items-item-title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
.why__items-item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: center;
}

.participate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: 40px;
}
@media screen and (max-width: 425px) {
  .participate {
    display: flex;
    flex-direction: column;
  }
}
.participate--revert .participate__img-corner {
  right: auto;
  left: 0;
  border-radius: 0px 20px 0 0;
}
.participate--revert .participate__img-corner-img--left {
  left: 0px;
  bottom: auto;
  top: -30px;
  rotate: 90deg;
}
.participate--revert .participate__img-corner-img--right {
  right: -30px;
  top: auto;
  bottom: 0;
  rotate: 90deg;
}
.participate__img {
  position: relative;
}
.participate__img-img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.participate__img-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(249, 249, 249);
  border-radius: 20px 0 0 0;
  height: 120px;
  width: 230px;
  padding: 12px;
}
.participate__img-corner-btn {
  width: 100%;
  background: linear-gradient(270deg, #A980F8 0%, #869AF8 100%);
  border: none;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  padding: 12px;
}
.participate__img-corner-img {
  position: absolute;
  width: 30px;
}
.participate__img-corner-img--left {
  left: -30px;
  bottom: 0;
}
.participate__img-corner-img--right {
  right: 0;
  top: -30px;
}
.participate__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
}
.participate__content-title {
  margin-bottom: 32px;
}
.participate__content-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 411px;
}

.functionality-purple {
  padding: 50px 100px;
  background: linear-gradient(180deg, #8899F8 0%, #A681F8 100%);
  border-radius: 20px;
  margin-bottom: 80px;
}
@media screen and (max-width: 425px) {
  .functionality-purple {
    padding: 20px;
  }
}
.functionality-purple__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
  margin-bottom: 33px;
}
@media screen and (max-width: 425px) {
  .functionality-purple__text {
    display: flex;
    flex-direction: column;
  }
}
.functionality-purple__text * {
  color: rgb(255, 255, 255);
}
.functionality-purple__text-title {
  margin: 0;
}
.functionality-purple__text-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.functionality-purple__items {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  gap: 20px 17px;
}
@media screen and (max-width: 425px) {
  .functionality-purple__items {
    display: flex;
    flex-direction: column;
  }
}
.functionality-purple__items-item {
  border-radius: 15px;
  padding: 20px 16px 20px 32px;
  background-color: rgb(249, 249, 249);
  display: flex;
  align-items: center;
  gap: 32px;
}
@media screen and (max-width: 425px) {
  .functionality-purple__items-item {
    flex-direction: column;
  }
}
.functionality-purple__items-item-img {
  width: 32px;
  height: 32px;
}
.functionality-purple__items-item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.comfort {
  background-color: rgb(255, 255, 255);
  padding: 80px 54px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 38px;
  margin-bottom: 60px;
}
@media screen and (max-width: 425px) {
  .comfort {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .comfort {
    padding: 20px;
  }
}
.comfort * {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.comfort__left-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}
@media screen and (max-width: 425px) {
  .comfort__left-title {
    font-size: 22px;
    line-height: 35px;
  }
}
.comfort__right {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);
  gap: 17px;
}
.comfort__right-item {
  background-color: rgb(249, 249, 249);
  padding: 24px;
  border-radius: 15px;
}

.reviews {
  position: relative;
  margin-bottom: 120px;
}
.reviews__title {
  text-align: center;
  margin-bottom: 56px;
}
.reviews-slider {
  overflow: hidden;
}
.reviews-line {
  display: flex;
  gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.reviews-item {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 32px 40px;
}
.reviews-item__user {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.reviews-item__user-img {
  width: 72px;
  height: 72px;
}
.reviews-item__user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50px;
}
.reviews-item__user-name {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.reviews-item__text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgb(114, 114, 114);
}
.reviews-btn {
  position: absolute;
  top: calc(50% + 55px);
  translate: -200% -50%;
}
.reviews-btn:hover {
  cursor: pointer;
}
.reviews-btn-next {
  right: 0;
  translate: 200% -50%;
  rotate: 180deg;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 115px;
}
@media screen and (max-width: 425px) {
  .answers {
    display: flex;
    flex-direction: column;
  }
}
.answers__text-title {
  margin-bottom: 32px;
}
.answers__text-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 21px;
}
.answers__text-btn {
  padding: 12px 42px;
  background: linear-gradient(270deg, #A980F8 0%, #869AF8 100%);
  font-family: Inter;
  font-size: 13.71px;
  font-weight: 600;
  line-height: 16.59px;
  border-radius: 20px;
  border: none;
  color: rgb(255, 255, 255);
}
.answers__items-item {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(68, 68, 68);
  padding: 28px 22px;
  height: 80px;
  overflow: hidden;
  transition: 0.4s ease;
}
.answers__items-item:hover {
  cursor: pointer;
}
.answers__items-item--last {
  border-bottom: 1px solid rgb(68, 68, 68);
}
.answers__items-item--active {
  height: auto;
}
.answers__items-item--active .answers__items-item-header-svg--minus {
  display: block;
}
.answers__items-item--active .answers__items-item-header-svg--plus {
  display: none;
}
.answers__items-item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.answers__items-item-header-title {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.03em;
}
.answers__items-item-header-svg--minus {
  display: none;
}
.answers__items-item-text {
  font-family: Manrope;
  font-size: 14.42px;
  font-weight: 500;
  line-height: 25.95px;
  color: rgb(135, 140, 145);
}

.btn-purple {
  transition: 0.4s ease;
}
.btn-purple:hover {
  background: rgb(56, 56, 56);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */